:root {
    --accent: #4D1E5B;
    --text: #2b2b2b;
  }
  
body {
    font-family: 'Lato', sans-serif;
    background: #fff;
    color: var(--text);
    margin:0;
    padding:0;
    font-size:1.4em;
    line-height:180%;
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased;
    font-smoothing:antialiased;
}

a {
    text-decoration: none;
    color: var(--text);
}

nav {
    top: 0;
    position: fixed;
    width: 100vw;
    height: 80px;
    box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
    background: #fff;
    display: grid;
    line-height:80px;
    vertical-align: middle;
    grid-template-columns: 10vw auto;
    box-sizing: border-box;
    padding: 0 1.5em;
    z-index: 2;
}

#links {
    text-align: right;
    font-size: .8em;
    text-transform: uppercase;}

#links a {
    margin-right: 1.5em;
}

#links a:last-child {
    margin-right: 0;
}

#logo {
    width: 75px;
    vertical-align: middle;
}

header {
    margin-top: 10vh;
    width: 100vw;
    height: 594px;
    background: url(img/banner.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    justify-items: center;
    display: grid;
    align-items: center;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-template-areas: 
        ". . ."
        ". headerText ."
        ". . ." ;
    box-sizing: border-box;
}

#titles {
    grid-area: headerText;
    text-align: center;
    letter-spacing: .05em;
    padding:0 3em;
}

#uni {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2em;
}

#org {
    font-weight: 900;
    font-size: 2.5em;
    margin-top: .8em;
    line-height:100%;
    color: var(--accent);
}

section {
    box-sizing: border-box;
    padding:4em;
}

#highlights {
    padding: 4em 4em 5em 4em;
}

#intro {
    color:#fff;
    text-align: center;
    background: var(--accent);
}

#intro a, .memberQuote a{
    color: #fff;
    box-shadow:0 -1px #fff inset;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#intro a:hover, .memberQuote a:hover {
    color: var(--accent);
}

#intro a:hover {
    box-shadow: 0px -17px #fff inset;
}

.memberQuote a:hover {
    box-shadow: 0px -25px #fff inset;
}

.sectionTitle {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2em;
    margin-bottom: 1.5em;
}

#upcoming .sectionTitle {
    color: var(--accent);
}

.sectionText a {
    color: var(--text);
    box-shadow:0 -1px var(--text) inset;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.sectionText a:hover {
    color: #fff;
    box-shadow: 0px -24px var(--accent) inset;
}

#intro .sectionText {
    margin-top: 2.5em;
}

#upcoming .sectionText {
    box-sizing: border-box;
    display: grid;
    font-size:18px;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
}

#intro .line {
    background:#fff;
    margin:auto;
}

#upcoming .line {
    background: var(--accent);
    margin-bottom: 2em;
}

.pgcontainer .line {
    margin:1.5em 0;
    background: var(--accent);
}

.line {
    width:100px;
    height:8px;
}

#learnMore {
    font-weight: 700;
    text-transform: uppercase;
    font-size: .7em;
}

.dates:first-child {
    margin-top: 0em;
}

.eventTime {
    margin-top: 1em;
}

.eventType {
    font-weight: 700;
    color: var(--accent);
    font-size: 1.2em;
}

#highlights {
    background: var(--accent);
    margin:auto;
    color: #fff;
    text-align:center;
    box-sizing: border-box;
}

#highlights .sectionTitle {
    color:#fff;
}

#memberHighlight {
    width:60vw;
    margin:auto;
}

.memberIcon {
    text-align: center;
}

.icon {
    margin: auto;
    width: 150px;
    border-radius: 50%;
}

.memberName {
    font-weight: 700;
    margin: 1em 0 .5em 0;
    font-size: 1.5em;
}

.memberQuote {
    margin: 1em 0 1em 0;
    font-style: italic;
}

.memberQuote::before {
    content: '\201C';
    position: absolute;
    z-index: 1;
    margin-top: .15em;
    font-style: normal;
    font-family: Georgia;
    font-size: 5em;
    opacity: .5;
    font-weight: 900;
}

/** Page styles **/
.pgcontainer {
    display:grid;
    padding:4em 0;
    width:80%;
    margin:85px auto 0 auto;
    grid-template-columns:250px 100px auto;
    gird-template-rows: auto;
    grid-template-areas: 
        "pagesidebar . pagecontent";
}

.pgsidebar {
    width:250px;
    grid-area: pagesidebar;
    position:fixed;
}

.pgcontent {
    grid-area: pagecontent;
}

.sidebarlinks a{
    display:block;
    color: var(--accent);
}

.chhead {
    font-size:18px;
    margin-top:4em;
    display:grid;
    grid-template-columns:150px 50px auto;
    gird-template-rows: auto;
    grid-template-areas: 
        "chimg . chinfo";
}

.chhead:first-of-type {
    margin-top:0;
}

.chimg {
    grid-area:chimg;
}

.chimg img {
    width:150px;
    margin:0;
    padding:0;
}

.chinfo {
    grid-area:chinfo;
    margin-top:-.6em;
}

.chname, .chpronouns {
    color:var(--accent);
    font-size:20px;
    font-weight:700;
}

.chpronouns {
    padding: .5em 0;
}

.chmeeting {
    color:var(--accent);
    padding-top:.5em;
}









